<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>Swan site</title>
    </head>
    <body>

        {{> header}}
        <p>Text lol</p>
        {{> footer}}

    </body>

</html>