<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>Swan site</title>
    </head>
    <body>

        {{> header}}
        <p>{{scream welcome_message}}</p>
        {{> footer}}

    </body>

</html>